@charset "utf-8";
*{
    margin:0;
    padding:0;
    font-size: 12px;
}
.container{
    width: 600px;
    margin: 30px auto;
}
ul {
    list-style: none;
}
a:link{
    text-decoration: none;
}
.container ul li{
    width: 200px;
    float: left;
    height: 25px;
    line-height: 25px;
}
.promoted a{
    color: orangered;
}
.showmore{
    clear: both;
    width: 600px;
    padding-top: 10px;
    margin: 0 auto;
}
.showmore a{
    display: block;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 25px;
    border: 1px solid #94C3FF;
}
.showmore a span{
    padding-left: 15px;
    background: url("../images/down.gif") no-repeat 0 0;
}